html{
    font-size: 22px;
}
body{
    background-color: blueviolet;
}
.sizing{
    border:5px orangered solid;
   /* width: 200px;
    height: 200px;
    px is hard code*/
    width: 50%;
    height: 50%;
    /*% only works on width*/
    font-size: 10px;
}

.using-rem{
    font-size:2rem;
}
.using-em{
    font-size:1.5em;
}
.using-viewport{
    background-color: powderblue;
    width: 40vw;
    height: 40vh;
}