/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
My code starts here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html{
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: blueviolet;
    background-image:url("../images/white_brick_wall.png");
    background-repeat: no-repeat;
    
}
.sizing{
    border:5px orangered solid;
   /* width: 200px;
    height: 200px;
    px is hard code*/
    width: 50%;
    height: 50%;
    /*% only works on width*/
    font-size: 10px;
}

.using-rem{
    font-size:2rem;
}
.using-em{
    font-size:1.5em;
}
.using-viewport{
    background-color: powderblue;
    width: 40vw;
    height: 40vh;
    background-image:url("../images/bread.jpg");
    background-position: 40px 20 px;
    background-repeat: no-repeat;
}
.using-percent{
    background-color: seagreen;
    width:69%;
    height:50%;
    font-size: 16px;
    line-height: 1.375rem;
    font-weight: bold;
    font-style: italic;

    letter-spacing: 0.1em;
    text-decoration: underline;

}
.image-contain, .image-cover{
    border: black 3px solid;
    width: 400px;
    height: 200px;
    background-image:url("../images/bread.jpg");
}

.image-contain{
    background-size: contain;
}